.full-screen-height {
  min-height: 100vh;
  
}
.body{
  background-color: aliceblue;
}
.fullwid {
  min-width: 80vw;
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;

}

.border-outline {
  border: 2px solid black;
}
img {
  transition:  filter 0.3s ease-in-out;
}
img:hover{
  filter: grayscale(100%);
}

.eductionx{
  padding-bottom: 2px;
  display: flex;
  justify-content: center

}
.box-lab:hover{
background: rgb(36, 70, 141);
/* opacity: 7s0%; */
color : white;
transition:  filter 0.3s ease-in-out;
cursor: pointer;

}

.logo-class{
  align-items: center;

}         
.love{
  color: red;
}
.social-card:hover{
  /* z-index: -2; */

transition:  filter 0.3s ease-in-out;

  cursor: pointer;

}

.profilex{
  background-color: white;
  height: 50vh;
  border-bottom: 50px;
  align-items: start
}

.love {
  color: red;
}
